node_modules
vendor
storage/app
storage/framework/cache
storage/framework/sessions
storage/framework/views
storage/logs
.git
.gitignore
.github
.env
*.log
docker-compose.yml
tests
docs
tmp
*.sqlite
public/storage
coverage
artifact*
